/* Fonts */
@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: 200;
  src: url("/fonts/IRANSansWeb_UltraLight.ttf") format("truetype");
}
@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: 300;
  src: url("/fonts/IRANSansWeb_Light.ttf") format("truetype");
}
@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: normal;
  src: url("/fonts/IRANSansWeb.ttf") format("truetype");
}
@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: 600;
  src: url("/fonts/IRANSansWeb_Medium.ttf") format("truetype");
}
@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/IRANSansWeb_Bold.ttf") format("truetype");
}
@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: 900;
  src: url("/fonts/IRANSansWeb_Black.ttf") format("truetype");
}

@font-face {
  font-family: IranYekan;
  font-style: normal;
  font-weight: normal;
  src: url(/fonts/IRYEKANR.ttf) format("truetype");
}
/* @font-face {
  font-family: IranYekan;
  font-style: normal;
  font-weight: bold;
  src: url(/fonts/IRYEKANB.ttf) format("truetype");
} */
@font-face {
  font-family: IranYekan;
  font-style: normal;
  font-weight: 300;
  src: url(/fonts/IRYEKANL.ttf) format("truetype");
}

/* Global variables */
:root {
  --color-sidegray: linear-gradient(
    265deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(194, 194, 194, 1) 100%
  );
  --color-sideblue: linear-gradient(
    359deg,
    rgba(49, 91, 245, 1) 0%,
    rgba(30, 139, 247, 1) 100%
  );
  --color-yellow: #3c4a63;
  --color-red: #b90a33ff;
  --color-charcoal: #639ef7;
  --color-charcoal-light: #1e1e2e;
  --color-hover-black: #a35467;
  --color-black: #000000;
  --color-white: #ffffff;
  --color-gray: #fafafa;
  --color-gray2: #d6d6d6;
  --color-Brown: #a8dadc;
  --color-darkgray: #7f8aa1;
  --font-main: "IranYekan", "IRANSans", sans-serif;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: var(--font-main);
  background-color: var(--color-grey);
  color: var(--color-black);
}

.menu-icon {
  color: var(--color-grey);
}
